#board-canvas
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 720px;
    height: 720px;
    background-color: rgba(255, 255, 255, 0);
    pointer-events: none;
}

#board-div > table 
{
	outline-style: double;
    filter: drop-shadow(0px 0px 3px lightgray);
}

#board-div > table, table th, table tr, table td 
{
	margin: 0px;
	border: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
	padding: 0px;
}

#board-dragging-piece-div
{
    position: absolute;
    left: 100px;
    top: 100px;
    width: 90px;
    height: 90px;
    pointer-events: none;
}

#board-dragging-piece-div > img
{
    width: 90px;
    height: 90px;
    transform-origin: center;
}

#controls-color-scheme-select
{
    width: 80px;
}

#content
{
    width: 100%;
    height: 100%;
}

#controls-div
{
    margin-left: 10px;
    padding: 5px;
    position: absolute;
    left: 730px;
    top: 0px;
    background-color: lightgray;
    filter: drop-shadow(3px 3px 3px lightgray);
}

#controls-div > div
{
    margin: 10px;
}

#controls-fen-input
{
    padding: 2px;
    width: 650px;
    text-align: center;
}

#controls-game-moves-div
{
    overflow-y: auto;
    width: 290px;
    height: 290px;
    margin-top: 5px;
    background-color: white;
}

#controls-game-moves-table
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    align-self: center;
}

#controls-opening-div
{
    height: 20px;
    margin-top: 5px;
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
    font-size: 14px;
    background-color: rgb(230, 230, 230);
}

#controls-opening-select
{
    width: 425px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#controls-fen-paste-button
{
    width: 28px;
    height: 28px;
    margin-left: 2px;
}

#controls-fen-paste-button > img
{
    width: 14px;
    height: 14px;
}

#controls-puzzle-div
{
    height: 25px;
    margin-top: 5px;
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
    font-size: 14px;
    background-color: rgb(230, 230, 230);
    text-overflow: ellipsis;
}

#controls-stockfish-message-span
{
    margin-left: 10px;
}

#controls-stockfish-select
{
    width: 130px;
}

#main-div
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -50%);
}

#show-controls-button
{
    position: absolute;
    left: 10px;
    top: 0px
}

#side-time-div
{
    position: absolute;
    left: 0px;
    top: 40px;
}

.board-square-td
{
    width: 90px;
    height: 90px;
}

.controls-game-button
{
    width: 32px;
    height: 32px;
    margin-top: 5px;
}

.controls-game-button > img
{
    width: 18px;
    height: 18px;
}

.controls-game-moves-table-cell
{
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.grabbing, .grabbing * { cursor: grabbing !important; }

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow: hidden;
    background-color: rgb(32, 32, 32);
}

button
{
    cursor: pointer;
}

button, input, select
{
    font-size: 16px;
}

img, table, th, tr, td
{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

textarea
{
    resize: none;
    font-size: 16px;
}